* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #282D35;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav-logo-text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav-title {
  color: #DEEBF8;
  font-weight: 600;
}

.logo-img {
  height: 30px;
  margin-right: 10px;
}

.main {
  padding: 57px 27px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
}

.main-title {
  margin: 0;
  font-size: 40px;
  letter-spacing: -0.05em;    
}

.main-list {
  margin-top: 46px;
}

.main-list-item {
  line-height: 19px;
  padding-block: 10px;
}

.main-list-item::marker {
  font-size: 1.4rem;
  color:#61DAFB;
}